.salmon {
	background: salmon;
}

.gold {
	background: gold;
}

.blue {
	background: blue;
}

.limegreen {
	background: limegreen;
}

.purple {
	background: purple;
}

.center {
	text-align: center;
}