/* 
td stands for table data, th stands for table header.
*/ 
/*
table, th, td {
	border: 1px solid black;
	background-color: lightsteelblue;
	width: 80%;
}

span { 
	color: green;
	font-size: 16pt;
}
*/